.step{
    display: none;
}
.step.active{
    display: block;
}
button.next-btn{
    float: right;
    margin-top: 20px;
    cursor: pointer;
}
button.previous-btn{
    float: left;
    margin-top: 20px;
    cursor: pointer;
}
input[type=submit]{
    float: right;
    margin-top: 20px;
    cursor: pointer;
}